<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eveniet ipsa, quasi praesentium corporis perspiciatis tempore odio sed aspernatur! Deleniti culpa magni error quisquam numquam esse dolorum. Necessitatibus, blanditiis! Molestias.</p>

    <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>JS</li>
        <li>Python</li>
        <li>Flask</li>
    </ol>
</body>
</html>